**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/*.user
**/*.userosscache
**/*.suo
**/docker-compose*.yml
**/Dockerfile*
**/.dockerignore
**/npm-data
**/npm-letsencrypt
**/docs
**/*.md
