<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" 
                  arguments=".\ShopQualityboltWebBlazor.dll" 
                  stdoutLogEnabled="false" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="inprocess" />
      
      <!-- Remove default security headers that conflict with our CSP -->
      <httpProtocol>
        <customHeaders>
          <remove name="Content-Security-Policy" />
          <remove name="X-Frame-Options" />
          <remove name="X-Content-Type-Options" />
        </customHeaders>
      </httpProtocol>
      
      <!-- Let ASP.NET Core handle security headers -->
      <security>
        <requestFiltering removeServerHeader="true" />
      </security>
    </system.webServer>
  </location>
</configuration>
