@page "/cart"

@using QBExternalWebLibrary.Services.Authentication
@inject IDialogService DialogService
@inject IAccountManagement Acct



<PageTitle>ShoppingCart</PageTitle>

<MudText Class="my-2" Typo="Typo.h5">Shopping Cart</MudText>
<MudDivider/>
<h3>Cart</h3>

@code {

}
