@model ProductIDEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ProductID</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LegacyName" class="control-label"></label>
                <input asp-for="LegacyName" class="form-control" />
                <span asp-validation-for="LegacyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupId"></select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShapeId" class="control-label"></label>
                <select asp-for="ShapeId" class="form-control" asp-items="ViewBag.ShapeId"></select>
                <span asp-validation-for="ShapeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialId" class="control-label"></label>
                <select asp-for="MaterialId" class="form-control" asp-items="ViewBag.MaterialId"></select>
                <span asp-validation-for="MaterialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoatingId" class="control-label"></label>
                <select asp-for="CoatingId" class="form-control" asp-items="ViewBag.CoatingId"></select>
                <span asp-validation-for="CoatingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThreadId" class="control-label"></label>
                <select asp-for="ThreadId" class="form-control" asp-items="ViewBag.ThreadId"></select>
                <span asp-validation-for="ThreadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecId" class="control-label"></label>
                <select asp-for="SpecId" class="form-control" asp-items="ViewBag.SpecId"></select>
                <span asp-validation-for="SpecId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegacyId" class="control-label"></label>
                <input asp-for="LegacyId" class="form-control" />
                <span asp-validation-for="LegacyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
